<div class="routerPaths"routerLinkActive="active">
    <a [routerLink]="'/main'" >inicio</a>
    <a> > </a>
    <a [routerLink]="'/scList'">Carrito de compras</a>
</div>

<mat-divider></mat-divider>

<div fxLayout="row" class="container" fxLayoutGap="10px">

    
        
        <div fxLayout="column" fxLayoutGap="10px" fxFlex.gt-sm="70%" 
            fxFlex.lt-md="50%" fxLayoutAlign="center center" class="grid-item">

        </div>

        <div fxFlex.gt-sm="30%" fxFlex.lt-md="50%"  
            class="grid-item">

            <mat-card>

            </mat-card>
        </div>
   
</div>
