.active {
    color: black;
}
  
.routerPaths {
      margin: 10px 10px 10px 20px;
      size: 50px;
}
  
a{
      color: black;
      text-decoration: none;
}

.container {
      padding: 5px;
}

.grid-item {
      border-radius: 5px;
      height: 450px;
}

.titlePage{
      margin: 10px 20px 0px 20px;
}

.home-card{
      margin: 0px 0px 5px 0px;
      border: 0.3px solid black
}
.mat-card-image{
      margin: 15px 20px 0px 10px;
}

.add-button {
      width: 180px;
      height: 50px;
      background-color:#385296;
      color: white;
      text-align: center;
}

.mat-form-field {
      width: 20%;
      padding-left: 10px;
      padding-right: 10px;
}

 .alignButton{
      margin: 10px 0px 0px 25%;
 } 

 h2{
      opacity: 0.5;
 }

 .cardResumen{
      border-radius: 5px;
      border: 1px solid black
 }

 .calcEnvio{
       color: blue;
 }
