.example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-toolbar.mat-primary {
    background: gray;
    color: #fff;
  }

  .icon-display {
    transform: scale(1.5);
 }

 .app-filter-input{
   width: 400px;
   margin-left: 15px;
 }

 .example-icon{
   margin-right: 15px;
 }

 a{
  color: white;
  text-decoration: none;
}