<div fxLayout="row" class="content">
    <div fxLayout="row wrap" fxFlex.gt-sm="15%" 
        fxFlex.lt-md="50%" class="boxLateral">

    </div>

    <div class="content" fxLayout="row wrap" fxFlex.gt-sm="70%" fxLayoutAlign="center center">

        
        <mat-card class="example-card">    
            <mat-card-header>
                <mat-card-title>
                    <p>Gracias por realizar su compra</p>
                </mat-card-title>
            </mat-card-header>       
            <mat-card-content>
                <p>Numero de Orden</p>
                <p>XXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
            </mat-card-content>
            <mat-card-actions>
                <button class="STbutton" mat-button [routerLink]="'/main'">Seguir Comprando</button>
            </mat-card-actions>
        </mat-card>


    </div>

    <div fxLayout="row wrap" fxFlex.gt-sm="15%" 
        fxFlex.lt-md="50%" class="boxLateral">

    </div>
</div>
