<div class="routerPaths"routerLinkActive="active">
    <a [routerLink]="'/main'" >inicio</a>
    <a> > </a>
    <a [routerLink]="'/product'"    >product</a>
</div>

<mat-divider></mat-divider>

<div fxLayout="column" class="container">

    <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
        
        <div *ngIf="product" fxLayout="column" fxFlex.gt-sm="60%" 
            fxFlex.lt-md="50%" >

            <div fxFlex.gt-sm="60%" fxFlex.lt-md="50%"  
                fxFlexFill>
                <mat-card class="card-3">        
                    <h1>{{ product.name }}</h1>
                    <mat-card-content>
                        <h3>Marca: {{ product.branch }}</h3> 
                        <h3>Calificacion: {{ product.stars }} </h3>
                        <h2>Monto: S/.{{ product.price }}.00 </h2>
                    </mat-card-content>
                    
                </mat-card>
            </div>

            <div fxFlex.gt-sm="40%" fxFlex.lt-md="50%"  
                fxFlexFill>

                <mat-card class="card-3">        
                    <h1>DESCRIPCION:</h1>
                    <mat-card-content>
                        <h4>{{ product.description }}</h4> 
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div *ngIf="product" fxFlex.gt-sm="40%" fxFlex.lt-md="50%" >

            <mat-card class="card-3">        
                <h1>{{ product.name }}</h1>
                <mat-card-content>
                    <h3>Marca: {{ product.branch }}</h3> 
                    <h3>Calificacion: {{ product.stars }} </h3>
                    <h2>Monto: S/.{{ product.price }}.00 </h2>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <mat-form-field appearance="outline">
                        <mat-label>Cantidad</mat-label>
                        <input matInput value="1">
                    </mat-form-field>

                    <button mat-raised-button class="add-button" (click)="openDialog(product)">AGREGAR AL CARRITO</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>