<div fxLayout="row" > 

    <div fxLayout="row wrap" fxFlex.gt-sm="15%" 
        fxFlex.lt-md="50%" class="boxLateral">
    </div>

    <div class="content" fxLayout="row wrap" fxFlex.gt-sm="70%">

        <div fxFlex="25%" *ngFor="let product of prdddd">
            <mat-card class="example-card">
                <img mat-card-image src="{{product.imageUrl}}" alt="imgURL">
        
                <mat-card-header>
                    <mat-card-title>
                        <a [title]="product.name + ' details'">
                            {{ product.name }}
                        </a>
                    </mat-card-title>
                </mat-card-header>       
                <mat-card-content>
                                        
                    <p *ngIf="product.branch">
                            Branch: {{ product.branch }}
                    </p>
                    
                    <p *ngIf="product.price">
                            Price: {{ product.price }}
                    </p>
                </mat-card-content>
        
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button class="seeButton" mat-button [routerLink]="['/product', product.productCode]">VER</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>

    <div fxLayout="row wrap" fxFlex.gt-sm="15%" 
        fxFlex.lt-md="50%" class="boxLateral" >

    
    </div>
</div>